<h1>Editing Category2</h1>

<%= render 'form', category2: @category2 %>

<%= link_to 'Show', admin_category2_path(@category2), class: "btn btn-success" %> |
<%= link_to 'Back', admin_category2s_path, class: "btn btn-success" %>
