<h1>Editing Category1</h1>

<%= render 'form', category1: @category1 %>

<%= link_to 'Show', admin_category1_path(@category1), class: "btn btn-success" %> |
<%= link_to 'Back', admin_category1s_path, class: "btn btn-success" %>
